.titulo{
    background-color: rgb(66, 131, 131);
}

h1{
    text-align: center;
}

.imagen{
    display: flex;
    height: 150px;
    width: 150px;
}


.contenido {
    display: flex;
    border: black solid;
}
.personal {
    border: black solid;
    height: 20%;
    width: 20%;
}

.datos_personales {
    border: red solid;
    

}
.profesional {
    border: black solid;
    height: 80%;
    width: 80%;
}


